<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <table id="table-footer" align="left">
        <tbody>
            <tr>
                <td>
                    <h3>CTY CỔ PHẦN NGỌC TRANG TIÊU CỤC</h3>
                    <p class="reprensented-class"><strong><span style="color: #282c34">Trụ sở chính</span></strong></p>
                    <p><i class="fa fa-map-marker fa-lg" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;60 Đường 23/10 Phương Sơn - Nha Trang - Khánh Hòa</p>
                    <p><i class="fa fa-volume-control-phone" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;<strong><span>02583.550 550 - 0903 13 85 95</span></strong></p>
                    <p class="reprensented-class"><strong><span style="color: #282c34">Hệ thống VPGD - CN Ngọc Trang Logistics</span></strong></p>
                    <p><i class="fa fa-map-marker fa-lg" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;<span>275G Phạm Ngũ Lão - P. Phạm Ngũ Lão - &nbsp;Quận 1 - TP.HCM</span></p>
                    <p><i class="fa fa-volume-control-phone" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;<strong><span>028.3920.8545</span></strong></p>
                </td>
            </tr>
        </tbody>
    </table>
</div>